<h2 class="m-2 ml-4 mt-4 text-center">Welcome to visitors!</h2>

<p class="m-2 ml-4 mb-5 text-center">Here is the list of gossips with the title, author and content:</p>



<div class="card-deck">
  <% Gossip.all.each do |gossip| %>
    <div class="col-lg-3 col-md-6 mb-3">
      <div class="card text-center my-3">
        <div class="card-body">
          <h5 class="card-title ">Gossip n° <%= gossip.id %></h5>
          <h5 class="card-title text-secondary"> Title : <%= gossip.title%></h5>
          <p class="card-text"> Author: <%= gossip.user.first_name %> </p>
          <a href="<%=gossip_path(gossip.id)%>" class="btn btn-info text-center">View gossip</a>
        </div>

        <div class="card-footer">
          <p class="small text-muted mr-0">
          
            Post by <a href="<%= 12 %>">User on <%= gossip.created_at.strftime("%d/%m/%Y") %> at <%= gossip.created_at.strftime("%H:%I") %>.</a> 
          </p>
        </div>

      </div>
    </div>
  <% end %>
</div>